

.list__block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 32px;
    justify-content: center;
    
}

.skeleton__card {
    width: 300px;
}

.loader {
    flex-basis: 100%;
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
}

.alert_error {
    margin-top: 28px;
}