.count {
    margin: 0;
    color: var(--primary-color);
    font-size: x-large;
    font-weight: 500;
}

.sort__container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

}

.sort__block {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}